src/main/resources/wsdl/device.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://flexy.com/device" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://flexy.com/device" targetNamespace="http://flexy.com/device">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://flexy.com/device">
            <xs:element name="GetDeviceDetailsRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetDeviceDetailsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="DeviceDetails" type="tns:DeviceDetails"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetAllDeviceDetailsRequest">
                <xs:complexType> </xs:complexType>
            </xs:element>
            <xs:element name="GetAllDeviceDetailsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="DeviceDetails" type="tns:DeviceDetails"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="DeleteDeviceDetailsRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="DeleteDeviceDetailsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <!--  1 is success 0 for failure  -->
                        <xs:element name="status" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="DeviceDetails">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="description" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="GetAllDeviceDetailsResponse">
        <wsdl:part element="tns:GetAllDeviceDetailsResponse" name="GetAllDeviceDetailsResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetDeviceDetailsResponse">
        <wsdl:part element="tns:GetDeviceDetailsResponse" name="GetDeviceDetailsResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetAllDeviceDetailsRequest">
        <wsdl:part element="tns:GetAllDeviceDetailsRequest" name="GetAllDeviceDetailsRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="DeleteDeviceDetailsRequest">
        <wsdl:part element="tns:DeleteDeviceDetailsRequest" name="DeleteDeviceDetailsRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="DeleteDeviceDetailsResponse">
        <wsdl:part element="tns:DeleteDeviceDetailsResponse" name="DeleteDeviceDetailsResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetDeviceDetailsRequest">
        <wsdl:part element="tns:GetDeviceDetailsRequest" name="GetDeviceDetailsRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="DevicePort">
        <wsdl:operation name="GetAllDeviceDetails">
            <wsdl:input message="tns:GetAllDeviceDetailsRequest" name="GetAllDeviceDetailsRequest"> </wsdl:input>
            <wsdl:output message="tns:GetAllDeviceDetailsResponse" name="GetAllDeviceDetailsResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetDeviceDetails">
            <wsdl:input message="tns:GetDeviceDetailsRequest" name="GetDeviceDetailsRequest"> </wsdl:input>
            <wsdl:output message="tns:GetDeviceDetailsResponse" name="GetDeviceDetailsResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="DeleteDeviceDetails">
            <wsdl:input message="tns:DeleteDeviceDetailsRequest" name="DeleteDeviceDetailsRequest"> </wsdl:input>
            <wsdl:output message="tns:DeleteDeviceDetailsResponse" name="DeleteDeviceDetailsResponse"> </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="DevicePortSoap11" type="tns:DevicePort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetAllDeviceDetails">
            <soap:operation soapAction=""/>
            <wsdl:input name="GetAllDeviceDetailsRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetAllDeviceDetailsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetDeviceDetails">
            <soap:operation soapAction=""/>
            <wsdl:input name="GetDeviceDetailsRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetDeviceDetailsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="DeleteDeviceDetails">
            <soap:operation soapAction=""/>
            <wsdl:input name="DeleteDeviceDetailsRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="DeleteDeviceDetailsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="DevicePortService">
        <wsdl:port binding="tns:DevicePortSoap11" name="DevicePortSoap11">
            <soap:address location="http://localhost:8080/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>